<div class="header-mb">          
    <div class="header-mb-left header-mb-items">
        <div class="hamburger-icon svg-mb">
            <a href="#" class="icon-nav" title="Menu Mobile Icon" data-menu-mb-toogle>
                <span class="icon-line"></span>
            </a>
        </div>

        <div class="search-mb svg-mb">
            <a href="#" title="Search Icon" class="icon-search" data-search-mobile-toggle>
                {% include 'icon-search' %}
            </a>

            <a href="javascript:void(0)" title="close" class="close close-search">
                {% include 'icon-close' %}
            </a>
        
            {% include 'search-bar' %}
        </div>                        
    </div>

  <div class="header-mb-middle header-mb-items">
    <div class="header-logo">
      {% if section.settings.brand_type == 'image' and section.settings.logo != bank %}
      <a class="logo-img" href="/" title="Logo">
        <img data-src="{{ section.settings.logo | img_url: 'master' }}"
             src="{{ section.settings.logo | img_url: 'master' }}"
             alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo" class="lazyautosizes lazyloade" data-sizes="auto">
      </a>
      {% elsif section.settings.brand_text != '' %}
      <a class="logo-title" href="/">
        {{ section.settings.brand_text }}
      </a>
      {% else %}
      <a class="logo-title" href="/">
        {{ shop.name }}
      </a>
      {% endif %}
    </div>
  </div>

  <div class="header-mb-right header-mb-items">
    {% if shop.customer_accounts_enabled %}
    <div class="acc-mb svg-mb">
      <a href="#" title="User Icon" class="icon-user" data-user-mobile-toggle>
        {% include 'icon-user' %}
      </a>
    </div>
    {% endif %}
    <div class="cart-icon svg-mb">
      <a href="#" title="Cart Icon" data-cart-toggle>       
        {% include 'icon-cart' %}

        <span class="cartCount" data-cart-count>
          {{ cart.item_count }}
        </span>
      </a>
    </div>
  </div>          
</div>