<ul class="pagination-center text-center">
  {% if paginate.previous %}
    <li class="text">
      <a href="{{ paginate.previous.url }}" title="{{ 'collections.toolbar.previous' | t }}" {% if settings.enable_multilang %}data-translate="collections.toolbar.previous" translate-item="title"{% endif %}>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span {% if settings.enable_multilang %}data-translate="collections.toolbar.previous"{% endif %}>
          {{ 'collections.toolbar.previous' | t }}
        </span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span {% if settings.enable_multilang %}data-translate="collections.toolbar.previous"{% endif %}>
        {{ 'collections.toolbar.previous' | t }}
      </span>
    </li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
      {% else %}
        <li><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <li class="text">
      <a href="{{ paginate.next.url }}" title="{{ 'collections.toolbar.next' | t }}" {% if settings.enable_multilang %}data-translate="collections.toolbar.next" translate-item="title"{% endif %}>
        <span {% if settings.enable_multilang %}data-translate="collections.toolbar.next"{% endif %}>
        {{ 'collections.toolbar.next' | t }}
        </span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <span {% if settings.enable_multilang %}data-translate="collections.toolbar.next"{% endif %}>
        {{ 'collections.toolbar.next' | t }}
      </span>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </li>
  {% endif %}
</ul>