{% assign on_sale = false %}
{% if product.variants[0].compare_at_price > product.variants[0].price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

<!-- new product -->
{% assign custom_label = false %}
{% assign new_label = false %}


{% for tag in product.tags %}
{% assign tag_handle = tag | handle %}
{% if tag_handle == 'label' %}
{% assign custom_label = true %}
{% endif %}

{% if tag_handle == 'new' %}
{% assign new_label = true %}
{% endif %}
{% endfor %}

{% assign bundle_label = false %}
{% if product.metafields.c_f['Grouped Sub Product'] %}
{% assign bundle_label = true %}
{% endif %}

{% if on_sale or sold_out or custom_label or bundle_label or new_label %}
<div class="product-label">
  {% if on_sale %}
  {% if settings.type_label_sale == 'label_sale' %}
  <strong class="label sale-label" {% if settings.enable_multilang %}data-translate="products.product.sale"{% endif %}>
    {{ 'products.product.sale' | t }}
  </strong>
  <br>
  {% else %}
  <strong class="label sale-label">
    -{{ product.variants[0].compare_at_price | minus:product.variants[0].price | times:100 | divided_by:product.variants[0].compare_at_price | money_without_currency | times: 100 | replace: '.0', '' }}%
  </strong>
  <br>
  {% endif %}
  
  {% endif %}
  {% if sold_out %}
  <strong class="label sold-out-label" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>
    {{ 'products.product.sold_out' | t }}
  </strong>
  <br>
  {% endif %}
  
  {% if new_label %}
  <strong class="label new-label" {% if settings.enable_multilang %}data-translate="products.product.new_label"{% endif %} >
    {{ 'products.product.new_label' | t }}
  </strong>
  <br>
  {% endif %}
  
  {% if custom_label %}
  <strong class="label custom-label" {% if settings.enable_multilang %}data-translate="products.product.custom_label"{% endif %} >
    {{ 'products.product.custom_label' | t }}
  </strong>
  <br>
  {% endif %}
  
  {% if bundle_label %}
  <strong class="label bundle-label" {% if settings.enable_multilang %}data-translate="products.product.custom_label"{% endif %} >
    {{ 'products.product.bundle_label' | t }}
  </strong>
  {% endif %}
</div>
{% endif %}
