{% include 'style-header-02' %}

<header class="site-header header-02" role="banner">
    {% if section.settings.display_header_top and section.settings.top_message_text != blank %}
    <div class="header-top">
        <div class="container">
            <div class="top-message">
                <p>
                    {% include 'multilang' with section.settings.top_message_text %}
                </p>
                <a href="#" title="close" class="close" data-close-header-top>
                    {% include 'icon-close' %}
                </a>
            </div>    
        </div>
    </div>
    {% endif %}

    <a href="#" class="icon-nav close-menu-mb" title="Menu Mobile Icon" data-menu-mb-toogle>
        <span class="icon-line"></span>
    </a>

    <div class="header-bottom" data-sticky-mb>
        <div class="container">
            <div class="wrapper-header-bt">                
                {% include 'header-mobile' %}
                
                <div class="header-pc">
                    <div class="header-panel-top">
                        <div class="row">
                            {% if section.settings.free_shipping_text_1 != blank or section.settings.free_shipping_text_2 != blank %}
                            <div class="col-12 col-xl-6">
                                <div class="left-groups header-items">
                                    {% if section.settings.free_shipping_text_1 != blank %}
                                    <div class="free-shipping-text">
                                        {% include 'multilang' with section.settings.free_shipping_text_1 %}
                                    </div>
                                    {% endif %}

                                    {% if section.settings.free_shipping_text_2 != blank %}
                                    <div class="free-shipping-text">
                                        {% include 'multilang' with section.settings.free_shipping_text_2 %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}                           

                            <div class="col-12 {% if section.settings.free_shipping_text_1 != blank or section.settings.free_shipping_text_2 != blank %} col-xl-6{% endif %}">
                                <div class="right-groups header-items">
                                    <div class="nav-search">                    
                                        {% include 'search-bar' %}
                                    </div>
                                    {% if shop.customer_accounts_enabled %}
                                    <div class="customer-links">
                                        {% if customer %}
                                        <a data-user-pc-translate class="acc-links acc-title" href="/account"{% if settings.enable_multilang %} data-translate="customer.account.title"{% endif %}>
                                            {{ 'customer.account.title' | t }}
                                        </a>
                                        {% else %}                                       
                                        <a data-user-pc-translate class="acc-links acc-sign-in" id="customer_login_link" href="/account/login" {% if settings.enable_multilang %}data-translate="customer.login.sign_in"{% endif %}>
                                            {{ 'customer.login.sign_in' | t }}
                                        </a>
                                        {% endif %}                                 
                                    </div>
                                    {% endif %}
                                    

                                    {% if settings.enable_wishlist %}
                                    <a class="wishlist" href="/pages/wish-list" title='{% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}'>
                                        <svg aria-hidden="true" data-prefix="fal" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-heart fa-w-16 fa-2x"><path fill="currentColor" d="M462.3 62.7c-54.5-46.4-136-38.7-186.6 13.5L256 96.6l-19.7-20.3C195.5 34.1 113.2 8.7 49.7 62.7c-62.8 53.6-66.1 149.8-9.9 207.8l193.5 199.8c6.2 6.4 14.4 9.7 22.6 9.7 8.2 0 16.4-3.2 22.6-9.7L472 270.5c56.4-58 53.1-154.2-9.7-207.8zm-13.1 185.6L256.4 448.1 62.8 248.3c-38.4-39.6-46.4-115.1 7.7-161.2 54.8-46.8 119.2-12.9 142.8 11.5l42.7 44.1 42.7-44.1c23.2-24 88.2-58 142.8-11.5 54 46 46.1 121.5 7.7 161.2z" class=""></path></svg>
                                        <span class="wishlist-text text-hover"{% if settings.enable_multilang %} data-translate="wishlist.general.my_wishlist"{% endif %}>
                                            {{ 'wishlist.general.my_wishlist' | t }}
                                        </span>                  
                                    </a>
                                    {% endif %}

                                    <div class="cart-icon" data-cart-header-02>
                                        <a href="#" title="Cart Icon" data-cart-toggle>       
                                            {% include 'icon-cart' %}

                                            <span class="cartCount" data-cart-count>
                                            {{ cart.item_count }}
                                            </span>
                                        </a>                    
                                    </div>

                                    {% if settings.enable_multilang or settings.enable_multiple_currencies %}
                                    <div class="lang-currency-groups">
                                        {% include 'new-language-picker' %}

                                        {% include 'new-currency-picker' %}
                                    </div>
                                    {% endif %}
                                </div>                            
                            </div>
                        </div>
                    </div>

                    <div class="header-panel-bt text-center">
                        <div class="header-logo" itemscope itemtype="http://schema.org/Organization">
                          <meta itemprop="url" content="{{ shop.url }}">
                            {% if section.settings.brand_type == 'image' and section.settings.logo_pc != bank %}
                            <a class="logo-img" href="/" title="Logo">
                                <img itemprop="logo" data-src="{{ section.settings.logo_pc | img_url: 'master' }}"
                                    src="{{ section.settings.logo_pc | img_url: 'master' }}"
                                    alt="{{ section.settings.logo_pc.alt | default: shop.name }}" itemprop="logo" class="lazyautosizes lazyloaded" data-sizes="auto">
                            </a>
                            {% elsif section.settings.brand_text != '' %}
                            <a class="logo-title" href="/">
                                {{ section.settings.brand_text }}
                            </a>
                            {% else %}
                            <a class="logo-title" href="/">
                                {{ shop.name }}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</header>

<script>
    var appendPrependMenuMobile = function() {
        var headerPanelTop = $('.wrapper-header .header-panel-top'),
            headerPc = $('.wrapper-header .header-pc'),
            wrapperNav = $('.wrapper-navigation'),
            areaMb = wrapperNav.find('.mb-area');

        if (window.innerWidth < 1200) {
            headerPanelTop.appendTo(areaMb);
        } else {
            headerPc.prepend(headerPanelTop);
        };
    };

    $(document).ready(function() {
        appendPrependMenuMobile();
    });

    var winWidth = $(window).innerWidth();

    $(window).on('resize', function () {
        var resizeTimerId;

        clearTimeout(resizeTimerId);

        resizeTimerId = setTimeout(function() {
            var curWinWidth = $(window).innerWidth();

            if ((curWinWidth < 1200 && winWidth >= 1200) || (curWinWidth >= 1200 && winWidth < 1200)) {
                appendPrependMenuMobile();
            };
            winWidth = curWinWidth;
        }, 0);
    })

    {% if settings.enable_multilang %}
    translator.doTranslate('.site-header');
    {% endif %}
</script>

{% schema %}
    {
        "name": "Header 02",
        "settings": [
            {
                "type": "header",
                "content": "Header Top"
            },
            {
                "type": "checkbox",
                "id": "display_header_top",
                "label": "Display Header Top?",
                "default": true
            },
            {
                "type": "textarea",
                "id": "top_message_text",
                "label": "Top Message Text",
                "default": "Mid-Season Sale Up to 70% OFF."
            },
            {
                "type": "color",
                "id": "bg_header_top",
                "label": "Background Color",
                "default": "#ffe8e8"
            },
            {
                "type": "color",
                "id": "text_header_top_color",
                "label": "Text Color",
                "default": "#b05d5d"
            },
            {
                "type": "header",
                "content": "Logo"
            },
            {
                "type": "radio",
                "id": "brand_type",
                "label": "Use image or text for logo?",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "brand_text",
                "label": "Logo text"
            },
            {
              "type": "color",
              "id": "logo_text_color",
              "label": "Logo Text Color",
              "default": "#000"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image for Mobile",
                "info": "95px x 44px recommended"
            },
            {
                "type": "text",
                "id": "max_height_logo_mb",
                "label": "Max Height of Logo Mobile",
                "default": "26px" 
            },
            {
                "type": "image_picker",
                "id": "logo_pc",
                "label": "Logo image for PC",
                "info": "95px x 44px recommended"
            },
            {
                "type": "text",
                "id": "max_height_logo_pc",
                "label": "Max Height of Logo PC",
                "default": "37px" 
            },	  
            {
                "type": "header",
                "content": "Search"
            },
            {
                "type": "color",
                "id": "bg_search_color",
                "label": "Background Color",
                "default": "#fff"
            },      
            {
                "type": "color",
                "id": "search_color",
                "label": "Search Color",
                "default": "#646464"
            },
            {
                "type": "color",
                "id": "search_border_color",
                "label": "Search Border Color",
                "default": "#cbcbcb"
            },
            {
                "type": "header",
                "content": "Header Bottom"
            },
            {
                "type": "color",
                "id": "bg_header_bottom_color",
                "label": "Background Color",
                "default": "#fff"
            },
            {
                "type": "color",
                "id": "header_bottom_link_color",
                "label": "Header Bottom Text Color",
                "default": "#646464",
                "info": "======================="
            },
            {
                "type": "textarea",
                "id": "free_shipping_text_1",
                "label": "Free Shipping Text 1",
                "default": "Free Express Shipping for all orders"
            },
            {
                "type": "textarea",
                "id": "free_shipping_text_2",
                "label": "Free Shipping Text 2",
                "default": "Free In-store returns"
            },
            {
                "type": "header",
                "content": "Cart Header"
            },
            {
                "type": "color",
                "id": "bg_cart_color",
                "label": "Background Color Items Cart",
                "default": "#fff"
            },
            {
                "type": "color",
                "id": "cart_color",
                "label": "Color Items Cart",
                "default": "#646464",
                "info": "======================="
            }
        ]
    }
{% endschema %}