{% case section.settings.collection_results_per_row1 %}
  {% when '2' %}
  	{%- assign grid_item_width = 'col-6' -%}
  {% when '3' %}
  	{%- assign grid_item_width = 'col-6 col-md-4' -%}
  {% when '4' %}
  	{%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
  {% when '5' %}
  	{%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
  {% when '6' %}
  	{%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col-xl-2' -%}
{% endcase %}

<div class="new-arrivals-product" id="new-arrivals-{{section.id}}" data-new-arrivals-product>
    <div class="{% if section.settings.layout == 'default' %}container{% elsif section.settings.layout == 'padd_60' %}container-padd60{% else %}container-fluid{% endif %}">
        {% if section.settings.new_arrivals_title != blank %}
        <div class="widget-title{% if section.settings.title_style == 'style_2' %} not-before{% endif %}">   
            <h3 class="box-title">
                <span class="title"> 
                {% include 'multilang' with section.settings.new_arrivals_title %}
                </span>
            </h3>
            {% if section.settings.new_arrivals_des != blank %}
            <p>
                {% include 'multilang' with section.settings.new_arrivals_des %}

                {% if section.settings.view_all != blank %}
                <a class="view_all" href="{{ section.settings.link_view_all }}" title="{{section.settings.view_all}}">
                    {% include 'multilang' with section.settings.view_all %}
                </a>
                {% endif %}  

            </p>        
            {% endif %}
        </div>
        {% endif %}
        
        <div class="widget-product">
            <div class="products-grid row" data-products-to-show="{{ section.settings.product_list_limit | plus:0 }}" data-total-products="{{ collections[section.settings.product_list_collection].all_products_count }}">        
                {% assign product_limitation = 0 %}
                {% if section.settings.display_infinite_scrolling_homepage %}
                {% assign product_limitation = section.settings.product_list_limit | plus: 0 %}
                {% endif %}
                
                {% for product in collections[section.settings.product_list_collection].products limit:section.settings.product_list_limit_all %}
            
                <div class="grid-item {{ grid_item_width }}{% if settings.product_image_border %} grid-item-border{% endif %} "{% if section.settings.display_infinite_scrolling_homepage and forloop.index > product_limitation %} style="display:none"{% endif %}>
                {% include 'product-grid-item' %}
                </div>
            
                {% else %}
                
                {% for product in (1..section.settings.product_list_limit_all) %}
                <div class="grid-item {{ grid_item_width }}">
                <div class="grid-view-item no-product">
                    <div class="product-top">
                    <div class="not_img">
                        Product Img
                    </div>
                    </div>
                    
                    <div class="product-bottom">
                    <div class="product-title">
                        <span>
                        Your product's name
                        </span>
                    </div>
                    
                    <div class="price-box">
                        <span> $250.00 </span>
                    </div>
                    </div>
                </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            
            {% if section.settings.display_infinite_scrolling_homepage and section.settings.product_list_collection != bank %}      
            <div class="infinite-scrolling-homepage">
                <a class="btn" href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="home_page.show_more"{% endif %}>
                    {{ 'home_page.show_more' | t }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    {% assign margin_bottom =  section.settings.margin_bottom %} 
    @media (max-width: 767px) {
        #new-arrivals-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_mb }}px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        #new-arrivals-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_tab }}px;
        }
    }

    @media (min-width: 1200px) {
        #new-arrivals-{{ section.id }} {
            margin-bottom: {{ margin_bottom }}px;
        }
    }	
</style>

{% schema %}
    {
        "name": "New Arrivals Products",
        "class": "home-new-arrivals-sections",
        "settings": [
            {
                "type": "select",
                "id": "layout",
                "label": "Slideshow Layout:",
                "options": [
                    {
                        "value": "default",
                        "label": "Default"
                    },
                    {
                        "value": "padd_60",
                        "label": "Boxed"
                    },
                    {
                        "value": "full",
                        "label": "Full Width"
                    }
                ],
                "default": "default"
            },
            {
                "type": "header",
                "content": "Header"
            },
            {
                "type": "text",
                "id": "new_arrivals_title",
                "label": "Title",
                "default": "New Arrivals"
            },
            {
                "type" : "textarea",
                "id" : "new_arrivals_des",
                "label" : "Description"
            },
            {
                "type": "select",
                "id": "title_style",
                "label": "Title Style:",
                "options": [
                    {
                        "value": "style_1",
                        "label": "Style 1" 
                    },
                    { 
                        "value": "style_2",
                        "label": "Style 2" 
                    }          
                ],
                "default": "style_1"
            },
            {
                "type" : "text",
                "id" : "view_all",
                "label" : "Text view all"
            },
            {
                "type" : "url",
                "label" : "Link view all",
                "id" : "link_view_all"
            },
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "collection",
                "id": "product_list_collection",
                "label": "Collection to use"
            },
            {
                "type": "range",
                "id": "product_list_limit_all",
                "label": "Number of new products to show",
                "min": 3,
                "max": 20,
                "step": 1,
                "default": 15
            },
            {
                "type": "checkbox",
                "id": "display_infinite_scrolling_homepage",
                "label": "Display Show More Button?",
                "default": false
            },
            {
                "type": "text",
                "id": "product_list_limit",
                "label": "Number of products to show at one time",
                "default": "10"
            },
            {
                "type": "select",
                "id": "collection_results_per_row1",
                "label": "Products per row",
                "options": [
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                }
                ],
                "default": "5"
            },
            {
                "type": "header",
                "content": "Margin Bottom:"
            },
            {
                "type": "range",
                "id": "margin_bottom_mb",
                "label": "Mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 40
            },
            {
                "type": "range",
                "id": "margin_bottom_tab",
                "label": "Tablet",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 40
            },             
            {
                "type": "range",
                "id": "margin_bottom",
                "label": "Margin Bottom",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 50
            }	  	  
        ],
        "presets": [
            {
                "name": "New Arrivals Products",
                "category": "Collection"     
            }
        ]
    }
{% endschema %}


