{% include 'style-password' %}
<header class="header-password">
  <h1 class="header-logo">
    {% if section.settings.brand_type == 'image' and section.settings.logo_pc != bank %}
    <a class="logo-img" href="/" title="Logo">
      <img src="{{ section.settings.logo_pc | img_url: 'master' }}">
      {% if section.settings.logo_mb != bank %}
      <img src="{{ section.settings.logo_mb | img_url: 'master' }}">
      {% endif %}
    </a>
    {% elsif section.settings.brand_text != '' %}
    <a class="logo-title" href="/">
      {{ section.settings.brand_text }}
    </a>
    {% else %}
    <a class="logo-title" href="/">
      {{ shop.name }}
    </a>
    {% endif %}
  </h1>
  <div class="access-area">
    <span class="text">
      {{ section.settings.access_lable }}
    </span>
      {% form 'storefront_password', autocomplete:"off"  %}
        {{ form.errors | default_errors }}
        <label for='password'>Enter store using password: </label>
        <input type='password' name='password' id='password' autocomplete="new-password"/>
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="Enter" />
        </div>
      {% endform %}
  </div>
</header>
<div class="password-content">
  <div class="col col-left">
    <div class="content">
      <div class="text">
        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% else %}
          <h3 class="heading">{{section.settings.heading}}</h3>
          <p class="subtitle">{{section.settings.subtitle}}</p>
        {% endif %}
      </div>
      {%if section.settings.display_newsletter%}
       {% include 'newsletter-form' with 'password', message:{{section.settings.success_message}} %}
      {% endif %}
      {% if section.settings.display_product_detail_share %}
      {% include 'share' %}
      {% endif %}
    </div>
    <footer>
      {% if section.settings.footer_address_code != blank %}
      <address>
          {{ section.settings.footer_address_code  }}
      </address>
      {% endif %}
    </footer>
  </div>
  <div class="col col-right">
    {% if section.settings.banner != blank %}
      <img src="{{section.settings.banner | img_url:'master'}}" alt="">
    {% else %}
    <div class="not_img">
      925 x 1200px
    </div>
    {% endif %}
  </div>

</div>

<script>
  $('.access-area .text').off('click').on('click',function(){
    $(this).next().toggle();
  })

  $(document).off('click.hideMuiltiLangCurrency').on('click.hideMuiltiLangCurrency', function (e) {
      var formDropdown = $('#login_form');
      if (!formDropdown.is(e.target) && !formDropdown.has(e.target).length && !formDropdown.prev().is(e.target)) {
          formDropdown.hide();
      }
  });
</script>



{% schema %}
{
  "name": "Password Page",
  "class":"password-wrapper",
  "settings": [
    {
      "type":"header",
      "content":"Header"
    },
	  {
        "type": "radio",
        "id": "brand_type",
        "label": "Use image or text for logo?",
        "options": [
          {
            "value": "text",
            "label": "Text"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ],
        "default": "text"
      },
      {
        "type": "text",
        "id": "brand_text",
        "label": "Logo Text"
      },
      {
        "type": "color",
        "id": "brand_text_color",
        "label": "Logo Text Color",
        "default":"#000"
      },
	  {
       "type": "image_picker",
        "id": "logo_pc",
        "label": "Logo on Desktop",
		"info": "95px x 44px recommended"
      },
	  {
        "type": "text",
        "id": "max_height_logo_pc",
        "label": "Max Height Of Logo Desktop",
        "default": "44px"
      },
	  {
       "type": "image_picker",
        "id": "logo_mb",
        "label": "Logo Mobile"
      },
	  {
        "type": "text",
        "id": "max_height_logo_mb",
        "label": "Max Height",
        "default": "25px"
      },
	  {
        "type": "text",
        "id": "access_lable",
        "label": "Access Label Text",
        "default": "Early Access Login"
      },
	  {
        "type": "color",
        "id": "access_lable_color",
        "label": "Access Label Color",
        "default": "#fff"
      },
    {
      "type":"header",
      "content":"Banner"
    },
    {
      "type":"image_picker",
      "id":"banner",
      "label":"Banner"
    },
    {
      "type":"color",
      "id":"overlay_color",
      "label":"Overlay Layer Background Color",
      "default":"#422011"
    },
    {
      "type":"text",
      "id":"overlay_opacity",
      "label":"Overlay Layer Opacity",
      "default":"0.15",
      "info":"From 0 to 1"
    },
  {
    "type":"header",
    "content":"Custom Message"
  },
  {
    "type":"paragraph",
    "content":"To show custom message, leave \"Message for your visitors\" in admin Preferences blank"
  },
  {
    "type":"text",
    "id":"heading",
    "label":"Heading",
    "default":"Our new store will be  opening soon"
  },
  {
    "type":"text",
    "id":"heading_size",
    "label":"Heading Size",
    "default":"30"
  },
  {
    "type":"textarea",
    "id":"subtitle",
    "label":"Subtitle",
    "default":"Phasellus lorem malesuada de pulvinar commodo maecenas."
  },
  {
    "type":"text",
    "id":"subtitle_size",
    "label":"Subtitle Size",
    "default":"13"
  },
  {
    "type":"color",
    "id":"backbround_color",
    "label":"Backgorund Color",
    "default":"#fff"
  },
  {
    "type":"color",
    "id":"text_color",
    "label":"Text Color",
    "default":"#000"
  },
  {
      "type": "checkbox",
      "id": "display_newsletter",
      "label": "Enable Newsletter Form",
      "default": true
  },
  {
      "type": "textarea",
      "id": "success_message",
      "label": "Subscribed Message",
      "default": "Thanks for contacting us. We'll get back to you as soon as possible"
  },
  {
      "type": "checkbox",
      "id": "display_product_detail_share",
      "label": "Display Icon Share?",
      "default": true
  },
  {
      "type": "header",
      "content":"Footer"
  },
  {
    "type": "textarea",
    "id": "footer_address_code",
    "label": "Footer Address Code"
  }
  ]
}
{% endschema %}
