{% case section.settings.collection_results_per_row1 %}
    {% when '2' %}
        {%- assign grid_item_width = 'col-6' -%}
    {% when '3' %}
        {%- assign grid_item_width = 'col-6 col-md-4' -%}
    {% when '4' %}
        {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
    {% when '5' %}
        {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
{% endcase %}

<div class="suppermarket-new-arrivals new-arrivals-product" id="new-arrivals-{{section.id}}" data-new-arrivals-product>
    <div class="container">
        {% if section.settings.new_arrivals_title != blank %}
        <div class="widget-title not-before style-3">   
            <h3 class="box-title">
                <span class="title"> 
                    {% include 'multilang' with section.settings.new_arrivals_title %}
                </span>
            </h3>
        </div>
        {% endif %}
        
        <div class="widget-product suppermarket-widget-product">
            <div class="products-grid row" data-products-to-show="{{ section.settings.product_list_limit | plus:0 }}" data-total-products="{{ collections[section.settings.product_list_collection].all_products_count }}">        
                {% assign product_limitation = 0 %}
                {% if section.settings.display_infinite_scrolling_homepage %}
                {% assign product_limitation = section.settings.product_list_limit | plus: 0 %}
                {% endif %}
                
                {% for product in collections[section.settings.product_list_collection].products limit:section.settings.product_list_limit_all %}
            
                <div class="grid-item {{ grid_item_width }}{% if settings.product_image_border %} grid-item-border{% endif %} "{% if section.settings.display_infinite_scrolling_homepage and forloop.index > product_limitation %} style="display:none"{% endif %}>
                    <div class="bg-grid-item">
                        {% include 'suppermarket-product-grid-item' %}
                    </div>
                </div>
            
                {% else %}
                
                {% for product in (1..section.settings.product_list_limit_all) %}
                <div class="grid-item {{ grid_item_width }}">
                    <div class="grid-view-item no-product">
                        <div class="product-top">
                            <div class="not_img">
                                Product Img
                            </div>
                        </div>

                        <div class="product-bottom">
                            <div class="product-title">
                                <span>
                                Your product's name
                                </span>`
                            </div>

                            <div class="price-box">
                                <span> $250.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% endfor %}
            </div>
        
            {% if section.settings.display_infinite_scrolling_homepage and section.settings.product_list_collection != bank %}      
            <div class="infinite-scrolling-homepage">
                <a class="btn" href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="home_page.show_more"{% endif %}>
                    {{ 'home_page.show_more' | t }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    {% assign margin_bottom =  section.settings.margin_bottom %} 

    #new-arrivals-{{ section.id }} {
        background-color: {{ section.settings.block_bg }};
    }

    @media (min-width: 768px) {
        #new-arrivals-{{ section.id }} .products-grid .bg-grid-item {
            background-color: {{ section.settings.bg_grid_item }};
        }
    }

    @media (max-width: 767px) {
        #new-arrivals-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_mb }}px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        #new-arrivals-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_tab }}px;
        }
    }

    @media (min-width: 1200px) {
        #new-arrivals-{{ section.id }} {
            margin-bottom: {{ margin_bottom }}px;
        }
    }	
</style>

{% schema %}
    {
        "name": "New Arrivals Products",
        "class": "suppermarket-new-arrivals-sections",
        "settings": [  	  
            {
                "type": "header",
                "content": "Header"
            },
            {
                "type": "text",
                "id": "new_arrivals_title",
                "label": "Title",
                "default": "New Arrivals"
            },
            {
                "type": "header",
                "content": "Background Color"
            },
            {
                "type" : "color",
                "id" : "block_bg",
                "label" : "Background Block",
                "default" : "#f8f8f8"
            },
            {
                "type" : "color",
                "id" : "bg_grid_item",
                "label" : "Background Product Item",
                "default" : "#fff"
            },
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "collection",
                "id": "product_list_collection",
                "label": "Collection to use"
            },
            {
                "type": "range",
                "id": "product_list_limit_all",
                "label": "Number of new products to show",
                "min": 3,
                "max": 20,
                "step": 1,
                "default": 15
            },
            {
                "type": "checkbox",
                "id": "display_infinite_scrolling_homepage",
                "label": "Display Show More Button?",
                "default": false
            },
            {
                "type": "text",
                "id": "product_list_limit",
                "label": "Number of products to show at one time",
                "default": "10"
            },
            {
                "type": "select",
                "id": "collection_results_per_row1",
                "label": "Products per row",
                "options": [
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    }
                ],
                "default": "5"
            },
            {
                "type": "header",
                "content": "Margin Bottom:"
            },
            {
                "type": "range",
                "id": "margin_bottom_mb",
                "label": "Mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 40
            },
            {
                "type": "range",
                "id": "margin_bottom_tab",
                "label": "Tablet",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 40
            },             
            {
                "type": "range",
                "id": "margin_bottom",
                "label": "Margin Bottom",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 50
            }	  	  
        ],
        "presets": [
            {
                "name": "New Arrivals Products",
                "category": "Supermarket"     
            }
        ]
    }
{% endschema %}


