<div class="article-template">
  <div class="container">
    {% include 'breadcrumb' %}
    
    <div class="page-header">
      {% if current_tags %}
      {% if settings.enable_multilang and blog.title contains '|' %}  
      <h2 class="lang1">
        {{ blog.title | split: '|' | first | link_to: blog.url }} &raquo; {{ current_tags.first }}
      </h2>
      <h2 class="lang2">
        {{ blog.title | split: '|' | last | link_to: blog.url }} &raquo; {{ current_tags.first }}
      </h2>
      {% else %}
      <h2>
        {{ blog.title | split: '|' | first | link_to: blog.url }} &raquo; {{ current_tags.first }}
      </h2>
      {% endif %}

      {% else %}
      <h2>
        {% include 'multilang' with blog.title %}
      </h2>
      {% endif %}
    </div>
    
    <div class="halo-blog-content article-content">
      <div class="row {{ blog.template_suffix }}">
        {% section 'sidebar-blog' %}
        {% section 'article-template' %}
      </div>      
    </div>   
  </div>
</div>